@media (min-width: 1120px) and (max-width: 2200px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 32px;
    border-radius: 32px;
    background-color: white;
  }
  .paymentContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

  .main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 32px;
    border-radius: 32px;
    background-color: white;
  }
  .paymentContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
}
/* Mobile */
@media (max-width: 701px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:16px;
    border-radius: 32px;
    background-color: white;
  }
  .paymentContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    width: 100%;
  }
}
