@media (min-width: 1120px) and (max-width: 2200px) {
  .content {
    padding: 80px 120px;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 32px;
    border-radius: 32px;
    background-color: white;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .content {
    padding: 20px 32px;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 32px;
    border-radius: 32px;
    background-color: white;
  }

}
/* Mobile */
@media (max-width: 701px) {
  .content {
    padding: 16px 16px;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:16px;
    border-radius: 32px;
    background-color: white;
  }

}
