.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
  }
  
.container{
    display:flex;
    flex-direction:column;
    gap:24px;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:32px;
    border-radius:32px;
    min-width:420px
}

.text{
 margin-left: 8px;   
}